.bouton{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border-radius:5px;
}

#profil{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}

.photo-ronde{
	overflow:hidden;
	border-radius:50%;
}

#profil-info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#info{
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;*/
}

#profil-modif{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	//align-items: center;

}

#contenu{
	display: flex; 
	flex-direction: column; 
	align-items: center;
}


