.bouton{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border-radius:5px;
}

#profil{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}

.roundedImage{
	background:url(photo-profil.png)
	no-repeat 0px 0px;
	overflow:hidden;
	border-radius:50%;
	width:180px;
	height:180px;
}

#profil-info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#info{
	display: flex;
	align-items: center;
}

#profil-modif{
	display: flex;
	align-items: center;

}

#contenu{
	display: flex; 
	flex-direction: column; 
	align-items: center;
}


