#navigation{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#logo{
	width: 50px;
	height: 50px;
	
}
#title{
	width: 31%;
	text-align: right;
}
body{
	position: absolute;
	width: 100%;
}

table{
	
	font-size: 28px;
}

.connexion{		

	display: flex;
	margin-left: 1400px;
}

#hautProfil{ 	/*photo*/

	display: flex;
	flex-direction: row;
}

.rounded{		/*photo*/

	height: 250px;
}

#photo{			/*photo*/

	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
	width: 32%;
}

.thème{			/*deuxieme photo*/

	width:16%;
	margin: 1px;
}

#contenu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}